*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*HEADER*/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: #c2f56f;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.font-morocco {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.texto {
  font-size: medium;
  text-align: center;
  text-align: justify;
  font-weight: bold;
}
.texto1 {
  text-align: justify;
  text-align: center;

}

.texto-gradiente {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
}
  
.gradiente {
    font-size: 50vmin;
    line-height: 1.1;
}
  
 
/*HEADER*/


/*MAIN*/  
.centrar {
    margin: auto;
    display:block;
    padding: 30px;
}
.image-inicio {
    margin: 10px 5px 10px 5px 10px;
}

.productos-destacados {
    text-align: center;
}

div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
}

.card{
    transition:0.5s;
    cursor:pointer;
}

.card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
}

.card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
}
  
.card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca; 
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
  
.card-text{
    height:80px;  
}
  
.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}
  
.card::before {
    transform-origin: left top;
}
  
.card::after {
    transform-origin: right bottom;
}
  
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

/*MAIN*/  


/*FOOTER*/ 
.footer {
  background-color: #000;
}

/*FOOTER*/ 


@media screen and (min-width: 320px) {

.image-inicio img {
    width: 100%;
}

}



